/Makefile
/httppp/Makefile
*.pro.user*
ui_*.h
/build-*
/*-build-*
/httppp/httppp
/httppp/thttppp
/httppp/*.pcap
/windows/*.pcap
/windows/httppp-win32-installer.exe
/windows/httppp-win32-portable.zip
/linux/httppp-linux-i386.tar.gz
/www
